{% extends 'admin/base.html' %}

{% block content %}
<div class="admin-input-container">
    <label>Question</label><br>
    <input type="text" id="question"><br>
    <label>Answer 1</label><br>
    <input type="text" id="answer1"><br>
    <label>Answer 2</label><br>
    <input type="text" id="answer2"><br>
    <label>Anwwer 3</label><br>
    <input type="text" id="asnwer3"><br>
    <label>Answer 4</label><br>
    <input type="text" id="answer4"><br>
    <label>Correct Answer</label><br>
    <input type="text" id="correct_answer"><br>
    <label>Points</label><br>
    <input type="text" id="points"><br>
    <div class="center">
        <button class="action-btn" onclick="edit()">Edit</button>
    </div>
    <div class="center">
        <button class="back-btn" onclick="location.pathname = 'page-admin/tests/{{test.course_id}}'">Back</button>
    </div>
</div>
<script>
    window.onload = function()
    {
        document.querySelector('#question').value = '{{test.question}}';
        document.querySelector('#answer1').value = '{{test.answer1}}';
        document.querySelector('#answer2').value = '{{test.answer2}}';
        document.querySelector('#asnwer3').value = '{{test.answer3}}';
        document.querySelector('#answer4').value = '{{test.answer4}}';
        document.querySelector('#correct_answer').value = '{{test.correct_answer}}';
        document.querySelector('#points').value = '{{test.points}}';
    }


    function edit()
    {
        var question = document.querySelector('#question').value;
        var answer1 = document.querySelector('#answer1').value;
        var answer2 = document.querySelector('#answer2').value;
        var asnwer3 = document.querySelector('#asnwer3').value;
        var answer4 = document.querySelector('#answer4').value;
        var correct_answer = document.querySelector('#correct_answer').value;
        var points = document.querySelector('#points').value;

        $.ajax({
            url: "{% url 'test_edit' course_id=test.course_id id=test.id %}",
            type: 'POST',
            data: {
                question: question,
                answer1: answer1,
                answer2: answer2,
                asnwer3: asnwer3,
                answer4: answer4,
                correct_answer: correct_answer,
                points: points,
                crsfmiddlewaretoken: '{{crsf_token}}'
            },
            success: (res) => {
                console.log(res.message);
                location.pathname = 'page-admin/tests/{{test.course_id}}'
            },
            error: (err) => {
                console.log(err);
            }
        });
    }
</script>
{% endblock %}