{% extends 'base.html' %}

{% block content %}
    <div id="about-container">
        <h1 style="text-align: center;">About Us</h1>
        <p style="text-align: justify;">Welcome to <b>CodeAcademy</b>, your ultimate destination for learning programming and software development!</p>
        <p style="text-align: justify;">At Uranus, we believe that coding is the skill of the future, and everyone should have access to high-quality education, regardless of their background. Whether you're a complete beginner looking to learn your first programming language or an experienced developer wanting to expand your skills, we've got you covered.</p>
        <h3 style="text-align: center;">Our Mission</h3>
        <p style="text-align: justify;">Our mission is to empower learners with the skills and knowledge necessary to thrive in the digital age. Through comprehensive tutorials, engaging exercises, and hands-on projects, we strive to make programming accessible and enjoyable for everyone.</p>
        <h3 style="text-align: center;">What We Offer</h3>
        <ul>
            <li><b>Beginner to Advanced Courses:</b> Our courses cover a wide range of topics, from the basics of Python, Java, and JavaScript to more advanced subjects like machine learning, web development, and data science.</li>
            <li><b>Interactive Learning:</b> With our interactive coding environments, you can practice as you learn. No need to install software—everything happens right in your browser!</li>
            <li><b>Project-Based Learning:</b> Our curriculum emphasizes real-world projects to help you apply what you’ve learned and build a portfolio to showcase your skills.</li>
            <li><b>Expert Instructors:</b> Our content is created and curated by industry professionals with years of experience in their respective fields.</li>
            <li><b>Community Support:</b> Join our community of learners and mentors to ask questions, share knowledge, and grow together.</li>
        </ul>
        <h3 style="text-align: center;">Our Vision</h3>
        <p style="text-align: justify;">We envision a world where learning to code is a fun, exciting, and rewarding journey. Our goal is to help you unlock your potential and open doors to new career opportunities in the tech industry.</p>
    </div>
{% endblock %}