<div id="nav">
    <nav>
        <ul>
            <li><a style="text-decoration: none; color: black;" href="/">Home</a></li>
            <li><a style="text-decoration: none; color: black;" href="/courses">Courses</a></li>
            <li><a style="text-decoration: none; color: black;" href="/about">About</a></li>
            <li><a style="text-decoration: none; color: black;" href="/contacts">Contacts</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><button style="background-color: lightgrey; border: none; padding: 10px 20px; border-radius: 10px; font-weight: bold; font-style: italic; color: darkgray; cursor: pointer;" onclick="location.pathname = '/page-admin/courses'">Admin</button></li>
        </ul>
    </nav>
</div>