{% extends 'admin/base.html' %}

{% block content %}
<div class="admin-input-container">
    <label>Title</label><br>
    <input type="text" id="title"><br>
    <label>Info</label><br>
    <textarea id="info" rows="10" cols="100"></textarea><br>
    <div class="center">
        <button class="action-btn" onclick="edit()">Edit</button>
    </div>
    <div class="center">
        <button class="back-btn" onclick="location.pathname = 'page-admin/lessons/{{lesson.course_id}}'">Back</button>
    </div>
</div>
<script>
    window.onload = function()
    {
        document.querySelector('#title').value = '{{lesson.title}}';
        document.querySelector('#info').value = '{{lesson.info}}';
    }


    function edit()
    {
        var title = document.querySelector('#title').value;
        var info = document.querySelector('#info').value;

        $.ajax({
            url: "{% url 'lesson_edit' course_id=lesson.course_id id=lesson.id %}",
            type: 'POST',
            data: {
                title: title,
                info: info,
                crsfmiddlewaretoken: '{{crsf_token}}'
            },
            success: (res) => {
                console.log(res.message);
                location.pathname = 'page-admin/lessons/{{lesson.course_id}}'
            },
            error: (err) => {
                console.log(err);
            }
        });
    }
</script>
{% endblock %}